<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="96f38891-9a23-483c-bb23-02089f237fbb" Publisher="CN=Graham" Version="1.0.0.0" />
  <Properties>
    <DisplayName>DataBrowser</DisplayName>
    <PublisherDisplayName>BrightstarDB Ltd</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="DataBrowser.App">
      <VisualElements DisplayName="DataBrowser" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="DataBrowser" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" ShortName="Data Web Browser" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#FFFFFF" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>